<form name="form" class="css-form" novalidate>

  <div class="findmp-app container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!--Sidebar content-->

        Input your postal code: <input type="text" ng-model="postal_code" name="postalCode" required> <br>(Example: "M6J 2P1" or "L3R 9A9")
        <br><br>Subject: <input type="text" ng-model="user.subject" name="uSubject" size="50" required />

       <br><br>
       <textarea id="emailBody" >
         Dear {{postal_code | nameFilter:mps}} ,
       
         We support foreign workers.
       
         Signed,
         {{user.name}}
       </textarea>
       
    Name: <input type="text" ng-model="user.name" name="uName" required /><br />
    E-mail: <input type="email" ng-model="user.email" name="uEmail" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+.[a-z0-9-]/" required /><br />
    
    <div ng-show="form.uEmail.$dirty && form.uEmail.$invalid">Invalid: Please enter a valid email. </div>
    
    <button class="btn btn-success btn-xs" ng-click="reset()">Reset</button> <button class="btn btn-success btn-xs" ng-disabled="form.$invalid || isUnchanged(user)|| isUnchanged(postal_code)" ng-click="email(user, postal_code)">Send Email</button>
    <div id="txt"></div>

      </div>
    </div>
  </div>
  
  
  </form>